* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topheader.debug {
    background-color: aqua;
    width: 100%;
    height: 100px;
}

.headerbox{
    height: 70%;
    width: 400px;
    background-color: blue;
    margin: 20px;
    border-color:  white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

.bottomheader{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    width: 100%;
    height: 500px; 
}
h1{
    display: inline-block;
}

#bottomheaderbox{
    display: flex;
    margin-top: 100px;
    background-color: blue; /*DebugFeature*/
    width: 70%;
    height: 400px; /*DebugFeature*/
}


#bottomheaderinternalboxtext{
    height: 100%;
    width: 35%;
    background-color: aliceblue; /*DebugFeature*/
    border-color:  black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#bottomheaderinternalboximg{
    height: 115%;
    width: 65%;
    background-color: rgb(106, 181, 246);
    border-color:  rgb(255, 255, 255);
    border-style: dotted;
}


main{
    display: flex;
    justify-content: center;
}

.mainbox{
    flex-direction: column;
    display: flex;
    margin-top: 100px;
    width: 60%;  
    border-color:  rgb(0, 0, 0); /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#businessplanbox{
    display: flex;
    width: 100%;
    height: 700px; /*DebugFeature*/
    margin-top: 90px;
    background-color: aqua ; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

.businessplan{
    
    margin: 10px;
    width: calc(100% /3);
    height: 600px; /*DebugFeature*/
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#officecontactbox{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: 250px; /*DebugFeature*/
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#officeupperbox{
    width: 100%;
    height: 40px;
    background-color: aqua; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}


.containerbusinessbox{
    width: 100%;
    height: 100%;
    display: flex;
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#officeleftbox{
    width: 70%;
    height: 100%;
    background-color: aqua; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#officerightbox{
    width: 30%;
    height: 100%;
    background-color: aqua; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#becomepartnerbox{
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-color: aqua; /*DebugFeature*/
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}


.becomepartnerboximg{
    width: 60%;
    height: 100%;
    background-color: blue; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

.becomepartnerboxtext{
    width: 40%;
    height: 100%;
    background-color: blue; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#dropboxbusinessbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    width: 100%;
    height: 800px;
    background-color: aqua; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

.dropboxbusinesscontainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: calc(100% / 3 - 20px );
    background-color: blueviolet; /*DebugFeature*/
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

.dropcontainerbox{
    width: 100%;
    height: calc(100% / 3); /*DebugFeature*/
    background-color: rgb(21, 230, 21); /*DebugFeature*/
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}