* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topheader.debug {
    background-color: white;
    width: 100%;
    height: 100px;
}

.headerbox{
    display: flex;
    justify-content: space-between;
    height: 70%;
    width: 30%;
    margin: 20px;
}
.headerbox img{
    height: 25px;
    width: 120px;
    align-self: center;
}
.headerbox li{
    margin: 25px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-self: center;
    margin-left: 20px;
    width: 100%;
}

#loginbutton{
    width: 50px;
    height: 25px;
    align-self: center;
    background-color: rgb(0, 98, 255);
    border: 0px;
    color: white;
}

.headerleftbox{
    display: flex;
    justify-content: flex-end;
    height: 70%;
    width: 30%;
    margin: 20px;
}

#leftulheader{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
}

.bottomheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cornflowerblue;
    width: 100%;
    height: 600px; 
}

#headerbottombox{
    width: 60%;
    align-self: center;
}


#bottomheaderbox{
    display: flex;

    width: 100%;
    height: 400px; /*DebugFeature*/
    margin-top: 30px;
}
#headerbottombox h1{
    font-size: 50px;
    height: 110px;
    margin-top: 50px;
}

#bottomheaderinternalboxtext{
    height: 100%;
    width: 35%
}

#bottomheaderinternalboxtext p{
    margin-bottom: 40px;
    font-size: 19px;
}

#bottomheaderinternalboxtext button{
        height: 30px;
        width: 200px;
        margin-bottom: 40px;
        background-color: rgb(5, 70, 126);
        color: white;
        border-style: none;
}

.fa-arrow-down:before {
    content: "\f063";
    font-size: 40px;
}

#bottomheaderinternalboximg{
    height: 115%;
    width: 65%;
}

#bottomheaderinternalboximg img{
   height:  480px;
}


main{
    display: flex;
    justify-content: center;
}

.mainbox{
    flex-direction: column;
    display: flex;
    margin-top: 100px;
    width: 60%;  
    border-color:  rgb(0, 0, 0); /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}
#iconmainbox{
   margin-left: 20px;
}
.mainbox h1{
    margin-bottom: 60px;
}

.maincontainertitlebox{
    margin-left: 10px;
}

#businessplanbox{
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.businessplan{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: calc(100% /3);
    border-style: groove;
}

.businessplan ul{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.secondul i{
    margin-right: 10px;
}
.secondul .fa-check{
    color: blue;
    margin-right: 10px;
}

.businessplan li{
    margin-bottom: 15px;
}
.caratteristiche li{
    margin-bottom: 10px;
}
.titolo{
    font-size: 24px;
    font-weight: bold;
}

.freetrialbutton{
        height: auto;
        width: auto;
        padding: 10px;
        background-color: rgb(5, 70, 126);
        color: white;
        border-style: none;
        margin-top: 20px;
}
ul p{
    margin-top: 40px;
}
ul .bottomtext{
    margin-top: 20px;
}
#officecontactbox{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: 250px; /*DebugFeature*/
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#officeupperbox{
    width: 100%;
    height: 40px;
    background-color: aqua; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}


.containerbusinessbox{
    width: 100%;
    height: 100%;
    display: flex;
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#officeleftbox{
    width: 70%;
    height: 100%;
    background-color: aqua; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#officerightbox{
    width: 30%;
    height: 100%;
    background-color: aqua; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#becomepartnerbox{
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-color: aqua; /*DebugFeature*/
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}


.becomepartnerboximg{
    width: 60%;
    height: 100%;
    background-color: blue; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

.becomepartnerboxtext{
    width: 40%;
    height: 100%;
    background-color: blue; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#dropboxbusinessbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    width: 100%;
    height: 800px;
    background-color: aqua; /*DebugFeature*/
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

.dropboxbusinesscontainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: calc(100% / 3 - 20px );
    background-color: blueviolet; /*DebugFeature*/
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

.dropcontainerbox{
    width: 100%;
    height: calc(100% / 3); /*DebugFeature*/
    background-color: rgb(21, 230, 21); /*DebugFeature*/
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}


#bottomtextdiv{
    width: 100%;
    height: 300px;
    margin-top: 100px;
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
    background-color: purple; /*DebugFeature*/
}


#logoboxbottom{
    display: flex;
    width: 100%;
    height: 700px;
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
    background-color: purple; /*DebugFeature*/
}

.logobox{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    border-color: white; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
    background-color: green; /*DebugFeature*/
}


.logo{
    width: 50%;
    height: 50%;
    border-color: black; /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
    background-color: rgb(255, 217, 0); /*DebugFeature*/
}

#bottomcontainerbox{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 255, 255); /*DebugFeature*/
}

#bottomcontainer{
    width: 60%;
    height: 300px; /*DebugFeature*/
    border-color: rgb(0, 0, 0); /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
    background-color: rgb(0, 255, 255); /*DebugFeature*/
}

#faqcontainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    margin-top: 100px;
}

#faqbox{
    width: 60%;
    height: 100%; /*DebugFeature*/
    padding-top: 200px;
    border-color: rgb(0, 0, 0); /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
    background-color: rgb(0, 255, 255); /*DebugFeature*/
}


.faqquestionbox{
    width: 100%;
    height: calc(100% / 3);
    border-color: rgb(255, 255, 255); /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}


footer{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
    margin-top: 200px;
    background-color: black;
}


#divfooter{
    display: flex;
    height: 90%;
    width: 70%;
    margin-top: 20px;
    border-color: rgb(255, 255, 255); /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}

#footerlists{
    display: flex;
    height: 85%;
    width: 100%;
    border-color: rgb(0, 170, 255); /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}


.footerlist{
    width: calc(100% / 5);
    height: 100%;
    border-color: rgb(81, 0, 255); /*DebugFeature*/
    border-style: dotted; /*DebugFeature*/
}




